# Allure transient test data & reports
allure-results/
allure-report/
allure-report-single/
**/allure-results/
**/allure-report/
**/allure-report-single/
**/stats_snapshots/
k6-results*.json
**/k6-results*.json

# Python & Pytest caches
__pycache__/
*.pyc
.pytest_cache/
